# This configuration file should contain all required configuration parameters
# for the phylogenetic workflow to run to completion.
#
# Define optional config parameters with their default values here so that users
# do not have to dig through the workflows to figure out the default values

# Define wildcards used for building trees in the workflow, also used in the intermediate files or auxillariary default file names.
# {group} represents different genotypes to be analyzed
groups: ['GII.6', 'GII.4', 'GII.2', 'GII.3', 'GII.17']
# {gene} represents the norovirus genes to focus on in each build
genes: ['ORF1', 'ORF2', 'ORF3', 'RdRp', 'VP1']

inputs:
  - name: ncbi
    metadata: "https://data.nextstrain.org/files/workflows/norovirus/metadata.tsv.zst"
    sequences: "https://data.nextstrain.org/files/workflows/norovirus/sequences.fasta.zst"

strain_id_field: "accession"
# Will be used to generate the group and gene level references
reference: defaults/{group}/reference.gb

filter:
  exclude:
    default: defaults/exclude.txt
    GII.4: defaults/GII.4/exclude.txt
  min_coverage: 0.8
  filter_params: --group-by year VP1_nextclade RdRp_nextclade --sequences-per-group 30 --min-date 1950 --exclude-ambiguous-dates-by year --query-columns is_lab_host:str --exclude-where is_lab_host='true'

refine:
  root:
    default: best --timetree --date-confidence --clock-filter-iqd 4 --date-inference marginal

traits:
  default: region country ORF1_type ORF2_type VP1_nextclade VP1_group VP1_type VP1_variant RdRp_nextclade RdRp_group RdRp_type RdRp_variant host
  sampling_bias_correction: 3

colors:
  color_schemes: defaults/color_schemes.tsv
  color_orderings: defaults/color_orderings.tsv

export:
  auspice_config: results/defaults/{group}/{gene}/auspice_config.json
  description: defaults/description.md

tip_frequencies:
  # 2004 since there is an increase in norovirus samples at that time
  min_date: "2004-01-01"
  max_date: "3M"
  # Quarterly narrow_bandwidth or every 3 months (3 /12.0 = 0.25)
  narrow_bandwidth: 0.25
  proportion_wide: 0.0